<div class="home__container">
  <app-card
    gameCover="assets/red-dead-2.jpg"
    gameLabel="Digital"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 299,90"
    gameLink="https://store.playstation.com/pt-br/product/UP1004-CUSA03041_00-REDEMPTIONFULL02"
  ></app-card>
  <app-card
    gameCover="assets/tlou2.png"
    gameLabel="Exclusivo"
    gameType="DIGITAL | DISC "
    gamePrice="R$ 199,90"
    gameLink="https://www.playstation.com/pt-br/games/the-last-of-us-part-ii/"
  ></app-card>
  <app-card
    gameCover="assets/re2.png"
    gameLabel="Digital"
    gameType="DIGITAL | DISC "
    gamePrice="R$ 149,90"
    gameLink="https://store.playstation.com/pt-br/product/UP0102-PPSA04288_00-BH2R000000000001"
  ></app-card>
  <app-card
    gameCover="assets/god-4.png"
    gameLabel="GAME OF THE YEAR"
    gameType="DIGITAL | DISC "
    gamePrice="R$ 199,90"
    gameLink="https://store.playstation.com/pt-br/product/UP9000-CUSA07408_00-00000000GODOFWAR"
  ></app-card>
  <app-card
    gameCover="assets/mk11.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL "
    gamePrice="R$ 199,90"
    gameLink="https://store.playstation.com/pt-br/product/UP1018-PPSA01618_00-00MORTALKOMBAT11"
  ></app-card>
</div>
